body{
  margin: 0;
  overflow: hidden;
  height: 100%;
}
.container{
  margin: auto auto;
  font-family: sans-serif;
}
.response{
  margin-top: 250px;
  font-size: 200%;
}
p{
  align: left;
  font-size: 1.1em;
}
#note{
  align: center;
  font-size: 80%;
  font-style: italic;
  margin-bottom: 100px;
  margin-top: 30px;
}
