<!DOCTYPE html>
<html>
<head>
  <title>
    Random Dot Motion Task
  </title>
  <style>
    body{
      margin: 0;
      overflow: hidden;
      height: 100%;
    }
    .container{
      margin: auto auto;
      font-family: sans-serif;
    }
    .response{
      margin-top: 250px;
      font-size: 200%;
    }
    p{
      align: left;
      font-size: 1.1em;
    }
    #note{
      align: center;
      font-size: 80%;
      font-style: italic;
      margin-bottom: 100px;
      margin-top: 30px;
    }
	</style>
	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-80718454-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="http://dsambrano.com/demos/paper.js"></script>
  <script type="text/javascript"> 
    var count = 200;
    var size = 4.5; 
    var RT;    
    var response;
    var data = [];
    //Direction: -1 for left, 1 for right
    var RL = 1;
    var coherence = .15;
    var speed = 80;
    var RL_List = [-1,1];
    var coherence_List = [.05, .1, .15, .2, .25, .3, .35, .4, .45, .5, .55,.6, .65, .7, .75, .8, .95];
    //var coherence_List = [0.8, 0.8];
    function norm() {
    	var x = Math.random() + Math.random() + Math.random() + Math.random() + Math.random() + Math.random();
       	x = (x - 3)/3;
       	return x;
    }
    function shuffling(array) {
      var currentIndex = array.length, temporaryValue, randomIndex;
      while (0 !== currentIndex) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
      return array;
    }
    function nextTrial() {
      RL = shuffling(RL_List)[0];
      coherence = shuffling(coherence_List)[1];
    }
  </script> 
  <script>
  $(function(){
      $("#Correct").hide();
      $("#Incorrect").hide();
    });
    var startTime = 0;
    var BeginDemo = function() {
      data.push(['RL',"coherence", "RT"]);
      RDM();
    }
    var trial_num = [0];
    var RDM = function(){
      $("#Canvas").show();
      $("#Instructions").show();
      $("#Correct").hide();
      $("#Incorrect").hide(); 
      startTime = (new Date()).getTime(); 
      nextTrial();
      console.log(RL);
      console.log(coherence);
      paper.install(window);
      if (trial_num > 0) {
        console.log(paper.project);
        console.log(paper.project.layers);
      }
      trial_num += 1
      $(document).on('keydown', function stimuli(e){
        if (e.which == 32){
        var nums = [];
        for (var i = 0; i < count; i++) {
           nums.push(i);
        }
        shuffling(nums);
        var First = nums.slice(0, 66);
        var Second = nums.slice(66, 133);
        var Third = nums.slice(133, 200);
        var full = [First,Second,Third]; 
        paper.setup('Canvas');
        var path = new Path.Circle([view.size.width*Math.random(),view.size.height*Math.random()], size);
        path.fillColor = 'black';
        var symbol = new Symbol(path);
        for (var i = 0; i < count; i++) {
          var center = [view.size.width*Math.random(),view.size.height*Math.random()];
          symbol.place(center);
        }
        var even = 0;
        view.onFrame = function(event) {
          even ++;
          if(even%2 === 0){
            for (var i = 0; i < full.length; i++) {
              for (var j = 0; j < full[i].length; j++){
                shuffling(full[i]);
                var current = full[i][j];
                console.log(current);
                var item = project.activeLayer.children[current];
                if (j < (count/3)*coherence) {
                  item.position.x += (.5)*RL;
                  //item.position.y += 5*norm();
                } else {
                  item.position.x += 2.5*norm();
                  item.position.y = view.size.height*Math.random(); 
                }
                if (item.bounds.left > view.size.width)
                  item.position.x = +item.bounds.width;
                if (item.bounds.right < 0)
                  item.position.x = -view.size.width;
                if (item.bounds.bottom < 0)
                	item.position.y = +view.size.height;
                if (item.bounds.top > view.size.height)
                 item.position.y = -item.bounds.height;
              }
            }
          }
        }
        paper.view.draw();
      }
      })
    };
    $(document).on('keydown', function(e){
      if (e.which == 90 || e.which == 77){ 
          $("Canvas").hide();
          paper.project.remove();
          even = 0;
          if (e.which == 77){
            response = 1;
            if (RL == "1"){ $("#Correct").show(); } else { $("#Incorrect").show(); }
          } else {
            response = -1;
            if (RL == "-1"){ $("#Correct").show(); } else { $("#Incorrect").show(); }
          }
          var endTime = (new Date()).getTime();
          RT = endTime - startTime;
          setTimeout(RDM,500);
          trialdata = [RL, response, coherence, RT];
          data.push(trialdata);
      }     
    });
  	$(document).on('keydown', function(e){
    	if (e.which == 68){
    		var dataJSON = JSON.stringify(data);
    		var textToSaveAsBlob = new Blob([dataJSON], {type:"text/plain"});
    		var textToSaveAsURL = window.URL.createObjectURL(textToSaveAsBlob);
    		var downloadLink = document.createElement("a");
    		downloadLink.download = "text";
    		downloadLink.innerHTML = "Download File";
    		downloadLink.href = textToSaveAsURL;
    		downloadLink.onclick = destroyClickedElement;
    		downloadLink.style.display = "none";
    		document.body.appendChild(downloadLink);
    		downloadLink.click();
  		}
		});
		function destroyClickedElement(event){
    	document.body.removeChild(event.target);
		} 
	</script>
</head>
<body onload="BeginDemo();">
  <div class = "container">
    <h1 align="center">Random Dot Motion Task</h1>
    <div id="Instructions" align="center">
      Your task is to determine if the dots on the screen are moving to the left or to the right. <br> To begin the trial, press the space bar. To indicate that the dots are moving to the right, press the 'M' key, and to indicate that dots are moving to the left, press the 'Z' key. <br> 
    </div>
    <p class = "logo" align="center">
      <canvas class="StimElement" id="Canvas" width = 1100 height = 700 style="background:white"></canvas>
    </p>
    <div align="center" id = "Correct" class = "response"> 
      <p><h3 style = "color: #00e600;">
        Correct!
      </h3></p>
    </div>
    <div align="center" id = "Incorrect" class = "response"> 
      <p><h3 style = "color: #e60000;">
        Incorrect
      </h3></p>
    </div>
</body>
</html>
